
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
 

   <style>
       .JumboHeaderImg {
           background-image: url('../Content/images/abstract-art-artistic-background-1103970.jpg');
           background-size: cover;
       }
       .footer {
           background-color: #D1C4E9;
           margin: 0px auto;
           padding: 20px 0px;
       }

   </style>

</head>
<body>
    
    
    <header class="jumbotron JumboHeaderImg">

        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Alumni Student Portal</h1>
                    <p>The objective of the Alumni Student Portal System team to engage alumni in the life of the university and it's students through regional, affinity, reunion, career and student programs.</p>
                    
                </div>
                <div class="col-12 col-sm align-self-center">
                    <div class="col-12 col-sm align-self-center">
                        <img src="~/Content/images/logo.png" class="img-fluid">
                    </div>
                    <!--start of the button-->
                </div>
                
            </div>

        </div>
        
    </header>

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card" style="width: 18rem;">
                
                            <img class="card-img-top" src="~/Content/images/Goal.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Our Goals</h5>
                                <p class="card-text">The purpose of an Portal is to foster a spirit of loyalty and to promote the general welfare of your organization.</p>
                            </div>
                        </div>
                    </div>
                

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    @*<div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>*@

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=" ~/Content/images/Bonding.jpg" alt="Card image cap" >
                        <div class="card-body">
                            <h5 class="card-title">Our Bonding</h5>
                            <p class="card-text">Alumni associations exist to support the student organization's goals, and to strengthen the ties between alumni, the community, and the Student organization.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    @*<div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>*@
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/development.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Development Process</h5>
                            <p class="card-text">One of the main purposes of alumni associations is to support a network of former graduates who will, in turn, help to raise the profile of the university.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    @*<div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                       
                        <img src="~/Content/images/icons/favicon.ico" />
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>*@
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/world.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">World Wide</h5>
                            <p class="card-text">A great means to stay in touch with IHE Delft and with fellow alumni worldwide is through social media platforms. As an alumna/us you can join these groups.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="~/Content/images/why-us.jpg" class="img-fluid" alt=""style="margin-top:100px">

</div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Our Vision</a></h4>
                        <p class="description">A programme with strong ties to industry and spin-out companies, and the ability of promote mentoring, internship and career opportunities for students and alumni in this and other fields.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Our Mission</a></h4>
                        <p class="description">To develop and strengthen ties between our alumni and the Student by providing diverse tangible benefits including career services, networking opportunities, special events and lectures, and the opportunity to connect with and inspire students and graduates. </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title" style="text-align:center; margin-top:100px;">
                <h2>Features</h2>
                <p>To build a thriving website that alumni will visit and interact with regularly, higher education marketers need to listen to their alumni to understand their needs.It’s always best to survey your alumni to get a sense of what is most important to them when it comes to their website, but through our research, we’ve found that generally alumni are looking. </p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Deserving provide pleasure as it is assumed by pleasures</h3>
                    <p class="font-italic">
                        Clearly alumni have a variety of wants in a website, so recognizing which features are the highest priority and incorporating them in a way that makes sense in the overall user experience is critical.
                    </p>
                    <ul>
                        <li><i class="icofont-check"></i> Our research findings highlight which features are most valuable to alumni users.</li>
                        <li><i class="icofont-check"></i> Think about high-level groupings for features.</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Provide in the times of our alumni to the association</h3>
                    <p class="font-italic">
                        so many of them fall short of providing a great overall user experience for site visitors.
                    </p>
                    <p>
                        By offering your users highly relevant content, you’ll improve the overall web experience and increase engagement while providing a new means to build the alumni profile by better understanding the interests of each alum.
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>There are enhanced featured some of the mind there is so follows according to the features of that</h3>
                    <p>it’s more important than ever for schools to create alumni websites that meet the needs of their audience and keep their alumni part of the greater digital campus community.</p>
                    <ul>
                        <li><i class="icofont-check"></i> Updates on alumni and campus news, and emergency bulletins</li>
                        <li><i class="icofont-check"></i> Information on alumni events and campus events including athletics</li>
                        <li><i class="icofont-check"></i> Information about how to use the university to get a better job</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>In the frame of mind that the consequences and the needs of an obstacle to that with Alumni</h3>
                    <p class="font-italic">
                        so many of them fall short of providing a great overall user experience for site visitors.
                    </p>
                    <p>
                        Clearly alumni have a variety of wants in a website, so recognizing which features are the highest priority and incorporating them in a way that makes sense in the overall user experience is critical.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->


    <footer class="footer" style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                        <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                        <i class="fa fa-envelope fa-lg"></i>:
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
                    </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p>© Copyright 2018 Ristorante Con Fusion</p>
                </div>
            </div>
        </div>
    </footer>
    

  
</body>
</html>
