<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 

   <style>

       #hero-no-slider h2 {
           color: #fff;
           margin-bottom: 15px;
           font-size: 48px;
           font-weight: 700;
       }

       #hero-no-slider p {
           color: #fff;
       }

       

       #hero-no-slider .btn-get-started {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
                display: inline-block;
                padding: 12px 32px;
                border-radius: 50px;
                transition: 0.5s;
                line-height: 1;
                margin: 10px;
                color: #fff;
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
                border: 2px solid #68A4C4;
            }
   </style>
</head>
<body>

    @*<div class="container">
        <h2>Striped Rows</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>*@
  

    <section  id="hero-no-slider" class="d-flex justify-cntent-center align-items-center "style="background-color: lightblue; padding-top:150px; margin-bottom:100px" >
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h2>Alumni Student Portal System</h2>
                    <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    
                </div>
            </div>
        </div>
    </section>
  
</body>
</html>
